<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Detalhes Medicamento</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="info">
                    <h1>Detalhes Medicamento</h1>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Nome:</strong> <span th:text="${medicine.name}"></span></li>
                        <li class="list-group-item"><strong>Dosagem:</strong> <span th:text="${medicine.dosage}"></span></li>
                        <li class="list-group-item"><strong>Formato:</strong> <span th:text="${medicine.format}"></span></li>
                        <li class="list-group-item"><strong>Observação:</strong> <span th:text="${medicine.note}"></span></li>
                    </ul>
                    <div class="button">
                        <a id="btn-edit" 
                        th:href="@{'/medicine/edit/' + ${medicine.id}}" 
                        class="btn btn-info btn-sm">
                        Editar
                        </a>
                        <a id="btn-delete" 
                        th:href="@{'/medicine/delete/' + ${medicine.id}}" 
                        class="btn btn-info btn-sm">
                        Deletar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>